.search-input {
  transition: width 0.3s ease, opacity 0.3s ease;
}

.search-input.expanded {
  width: 12rem; 
  opacity: 1;
}

.title-content {
  overflow-x: hidden;
}

::ng-deep .custom-dialog-class {
  width: 90% !important;
  height: 96% !important;
  position: relative !important;
  inset: 5px 5px 5px auto !important;
  border-radius: 16px !important;
  overflow: hidden !important;
  margin: 16px 10px !important;
}

::ng-deep .custom-dialog-class {
  animation: slideIn 0.4s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.scrollable-dialog{
  border: none !important;
}

.scrollable-dialog .mat-dialog-container {
  max-height: 98vh !important;
  overflow-y: auto !important;
  // margin-right:  10px !important;
}

.shimmer-wave {
  position: relative;
  overflow: hidden;
  background-color: #d1d5db;
}

.shimmer-wave::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(209, 213, 219, 0) 0%,       
    rgba(156, 163, 175, 0.6) 50%,     
    rgba(209, 213, 219, 0) 100%        
  );
  animation: shimmerWave 1.6s ease-in-out infinite;
}

@keyframes shimmerWave {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}


