@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;
 
html, body {
  @apply font-sans;
  @apply bg-global-gradient;
}
html, body, * {
  font-family: 'Urbanist' !important;
}
mat-icon {
  font-family: 'Material Icons' !important;
}

@layer utilities {
  .bg-global-gradient {
    @apply bg-[radial-gradient(circle_at_20%_20%,_rgba(244,235,223,1)_0%,_transparent_60%),_radial-gradient(circle_at_80%_20%,_rgba(227,240,230,1)_0%,_transparent_60%),_radial-gradient(circle_at_50%_70%,_rgb(150,167,253)_0%,_transparent_75%),_radial-gradient(circle_at_50%_80%,_rgba(230,241,241,0.5)_0%,_transparent_70%)];
  }
} 
// @layer utilities {
//   .custom-scrollbar::-webkit-scrollbar {
//     @apply w-2; 
//   }

//   .custom-scrollbar::-webkit-scrollbar-button {
//     display: none;
//   }

//   .custom-scrollbar::-webkit-scrollbar-track {
//     @apply bg-gray-200 rounded-lg;
//   }

//   .custom-scrollbar::-webkit-scrollbar-thumb {
//     @apply bg-gray-400 rounded-lg transition-all duration-300;
//   }

//   .custom-scrollbar::-webkit-scrollbar-thumb:hover {
//     @apply bg-gray-500;
//   }
// }
  @layer utilities {
  .shimmer-wave {
    @apply relative overflow-hidden bg-gray-300;
  }
  .shimmer-wave::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(209, 213, 219, 0) 0%,
      rgba(156, 163, 175, 0.6) 50%,
      rgba(209, 213, 219, 0) 100%
    );
    animation: shimmerWave 1.6s ease-in-out infinite;
  }
}
@keyframes shimmerWave {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  background: #E2E1E1; 
  border-radius: 24px;
  margin-right:10px;
  height:2px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #C9C9C9; 
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.mat-mdc-option .mat-pseudo-checkbox-minimal {
  display: none !important;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 12px !important;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}

.loader {
  border: 4px solid #ffffff;
  border-top: 4px solid #EBEBEC;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
  display: inline-block;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}